/* Main   */
html,body {
margin: 0;
padding: 0;
border: 0;
background-color:#7bc2c5;}
body {
width:100%;
color:#7bc2c5;
font-family:Tahoma;}
body a {
text-decoration:none;
color:#344956;}
body a:hover {
color:#344956;}
/* userinfo   */
#userinfo { 
	position: absolute; 
	z-index: 1; 
	top: 16px; 
	margin-right: 200px; 
	width: 100%; 
	height: 180px; 
	color:#344956;
	font-size:80%;
	background: url(bg_useri.png) no-repeat right;
}
#userinfo .content { 
	padding-right: 66px; 
	padding-top: 15px;
}

/* Header   */
#header {
width:100%;
height: 162px;
background-image:url(images/headerbg1.jpg);
background-repeat:no-repeat;
background-position:center;
width: auto !important;}
#head {
width:891px;
margin: 0 auto 0 auto;
}
#head .left {
height:14px;}
#head .right {
height:14px;}

/*  Content blocks   */
#content {
width: 100%;
padding-top:1px;
background-color:#7bc2c5;
background-repeat:repeat;
background-position:top;
min-height: 300px;
height: auto !important;
height: 300px;
position:relative;}
#mcontentblock {
margin: 0 auto 0 auto;
width: 969px;}

/*  Menu   */
#menu {
margin-top:115px;
width: 10%;
font-size:80%;  }

/* Ќастройки выдвигающегос€ меню */
   span { /* обертка пункта */
     text-decoration: none;
     display: block; /* раст€нем до правого кра€ блока */
     margin: 8px 0 0 1.2em;      
   }

   ul, li {
     list-style-image:none;
     list-style-position:outside;
     list-style-type:none;
     margin:0;
     padding:0;
   }
     ul li {
      line-height: 1.2em;
     }
      ul li ul {
        display: none; /* узлы свернуты */
      }
        ul li ul li {
         margin: 0 0 0 1.2em;
        }
        li.last {/* последний узел, соединительную линию к след. узлу убираем */
         border: none; 
        }
   .marker { /* маркер раскрыти€ списка в закрытом состо€нии */
     border-color: transparent transparent transparent gray;
     border-style: solid; 
     border-width: .25em 0 .25em .5em;  
     margin: .35em .25em 0 0; 
     float: left; 
     width: 0px; 
     height: 0px; 
     line-height: 0px;
   }
   .marker.open {/* маркер раскрыти€ списка в открытом состо€нии */
     border-color: gray transparent transparent transparent;
     border-width: .5em .25em 0 .25em;  
   }
  /* IE 6 Fixup */
  * html #multi-derevo * { height: 1%;}
  * html .marker { border-style: dotted dotted dotted solid; }
  * html .marker.open { border-style: solid dotted dotted dotted; }
/* Ќастройки выдвигающегос€ меню */

#menuimg {
background-repeat: no-repeat;
width: 180px;
height: 0px; 
margin-left:10px;}
#mtable {
width:85%;
text-align:left;}
#mtable .main a {
color:#344956;}
#mtable .button {
height: 40px;
padding: 0px 0px 0px 25px;}
#mtable a{
color:#344956;}
#mtable a:hover {
color:#344956;}

/* News   */
#news {
width:68%;}
#news .newstitletr{
background-color: #33bac0;
background-repeat:repeat-x;
width:100%;
height:25px;}
#news .title {
padding-left:15px;
color:#344956;
font-size:90%;}
#news .newsborder {
height:1px;}
#news .text {
padding:15px 10px 50px 15px;
background-color:#011d28;
color:#99cee0;
font-size:80%}
#news .text strong {
color:#99cee0;}
#news .topbr {
height:15px;}
#news a{
color:#01b2f1;}
#news a:hover{
color:#01b2f1;
text-decoration:underline;}

/* Footer   */
#footer {
background-image: url(images/footerline.jpg);
background-repeat:no-repeat;
background-position:center;
width: 100%;
text-align:center;
color:#01b2f1;
font-size:90%;
padding:0px 0px 0px 0px;}
#footer  a {
color:#344956;}
#footer .copyrights {
color:#344956;}

/* Thumbs for news and archive page */
	.newsarchive .thumb { margin: 30px 15px 15px 20px; }
.thumb {width: 113px; height: 125px; display: block; float: right; background-repeat: no-repeat;}
	.sliderbox .thumb {margin: 5px 15px 10px 20px; cursor:pointer; }

/* Settings for slide show */
div#rotator {position:relative; height:150px; margin-left: 25%;}
div#rotator ul li {float:left; position:absolute; list-style: none;}
div#rotator ul li.show {z-index:500;}